{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "commonjs": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 2019
  },
  "rules": {
    "comma-dangle": ["error", "only-multiline"]
  }
}
